# logs
wandb/
lightning_logs/

# compile
build/
detectron2.egg-info/ 
__pycache__/
# local
.vscode/
.ipynb_checkpoints/
.python-version
# misc
# notebooks/
checkpoints/

*.pt
*.pth
*.ckpt

*.yaml
*.csv
*.json
*.log
*.txt
!requirements.txt